<!-- 
  @name = App Component HTML
  @author = Esther Vendrell
  @version = 0.0.1
  @description = Main user interface of the App component
  @date = 19-04-2020 -->
  
<div class="container well">
  <img style="text-align:center" src="../assets/SecondHand.jpeg" id='logo'/>
  <h1>Welcome to the best second hand shop</h1>
</div>
<div class="container well">
  <a routerLink="/clothes-entry" title="clothes-entry" >New clothes in stock</a>
  <span>  --  </span>
  <a routerLink="/clothes-management" title="clothes-management" >Clothes management</a>
</div>
<br><br>
<router-outlet></router-outlet>